* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.4rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #344960;
  border-radius: 10rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Courier New", Courier, monospace';
  font-size: 16px;
  margin: 0 auto;
  background-color: white;
}

.main-header {
  background-image: url(../img/home/logo.png*);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  max-height: 100vh;
}

.container {
  width: 100%;
  background-color: white;
  height: 80px;
  padding: 20px;
  position: fixed;
  font-family: 'Courier New", Courier, monospace';
}

.main-header .container .menu {
  float: left;
  padding: 5px;
}

.main-header .container .menu .nav-mine ul li {
  display: inline-block;
  margin: 5px;
}

.main-header .container .menu .nav-mine ul li a {
  color: #344960;
  font-size: 20px;
  padding: 5px;
  border-radius: 3px;
}

.main-header .container .menu .nav-mine ul li a:hover {
  color: #344960;
  background: #fbf3ee;
  margin-bottom: 30px;
}

.main-header .container .logo {
  float: right;
  padding: 1px;
}

.main-header .container .logo img {
  border-radius: 5px;
}

.small-text {
  margin: 50px 3px;
  width: 60%;
  padding: 20px;
  display: inline-block;
  line-height: 2;
  position: relative;
  font-size: 20px;
  text-align: center;
}

.small-text .text-about {
  font-size: 20px;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  color: #344960;
  text-align: center;
  margin-top: 50px;
}

.main {
  margin: 60px 10px;
  padding: 10px;
  border-radius: 5px;
  line-height: 2;
  min-height: 400px;
  height: auto;
  width: 98%;
}

.small-text .p-mana::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
}

.p-mana {
  color: #c45820;
}
.slider-container {
  width: 35%;
  height: 100vh;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.slider-image {
  width: 100%;
  height: 100vh;
  max-height: 400px;
  object-fit: cover;
  border-radius: 70% 30% 30% 25%;
  border: 1px solid gray;
  padding: 5px;
}

.prev,
.next {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fbf3ee;
  color: #344960;
  border: none;
  border-radius: 10px;
}

.prev:hover,
.next:hover {
  background-color: #9e8172;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .social-links {
    margin-top: 15px;
  }

  .copyright {
    margin-top: 1rem;
  }
}
footer {
  background-color: #fbf3ee;
  position: relative;
  padding-right: 3rem;
  padding-left: 1rem;
  margin-top: -90px;
  width: 100%;
  clear: both;
  height: 100px;
}
.copyright p {
  margin-bottom: 20px;
  margin-top: -20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  width: 150px;
}

.logo-title p {
  margin-left: 1px;
  color: #344960;
  font-size: 1rem;
  font-family: 'Courier New", Courier, monospace';
}

.social-links {
  display: flex;
  gap: 11px;
}

.social-links a {
  color: #344960;
  font-size: 28px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #090909;
}

.copyright {
  text-align: center;
  color: #344960;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .social-links {
    margin-top: 10px;
  }

  .copyright {
    margin-top: 0.5rem;
  }
}
body,
html {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.main-header {
  flex: 1;
}

.slider-container {
  flex: 1;
}

section {
  flex: 1;
}

footer {
  flex-shrink: 0;
  line-height: 1px;
}
