* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: bisque;
    padding: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-title img {
    width: 9rem;
}

.logo-title p {
    margin-left: 10px;
    color: darkslategray;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: darkslategray;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}

.copyright {
    text-align: center;
    margin-top: 1rem;
    color: darkslategray;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
   
    .social-links {
        margin-top: 15px;
    }

    .copyright {
        margin-top: 1rem;
    }
}